<div class="container">
  <div class="row h2">

    <form action="/cloths" method="get">
      <label for="category"> Category: </label>
      <select name="category" id="category" class="btn-small-white">
        <% Cloth::CATEGORIES.each do |f| %>
          <option value="" selected disabled hidden>Choose category</option>
          <option value="<%=f%>"> <%=f.capitalize%>
          </option>
        <% end %>
      </select>

      <label for="size"> Size: </label>
      <select name="size" id="size" class="btn-small-white">
        <% Cloth::SIZES.each do |f| %>
          <option value="" selected disabled hidden>Choose size</option>
          <option value="<%=f%>"> <%=f.capitalize%>
          </option>
        <% end %>
      </select>

      <!-- <input type="text" name="date" placeholder="dates?"> -->

      <input type="submit" class="btn-xsmall-pink">


    </form>
    <% @cloths.each do |cloth| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: url('<%= cl_image_path cloth.main_picture, height: 300, width: 400, crop: :fill %>');">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p><%= cloth.title %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
